 .u-section-1 {
  filter: none;
  background-image: url("images/5d8452a94a8c41fe6696214f768d5c64f42fb459a3d50425f5404bd80e9c35d6a16082ce2a77edada7f7c7dc2e339d8cce98004f65888c47539533_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 410px;
}